h1 {
    margin: auto;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    color: black;
    margin:  auto  auto;
    font-family: Arial, sans-serif;
    margin-bottom: 50px
}


.image {
    
}