* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin-bottom: 16px;
}

.main {
    align-content: center;
    margin-left: 150px;
    margin-right: 150px;
}
